.chat-response {
    align-self: flex-end; /* Align input messages to the right */
    background-color: #D9D9D9; /* Example background color for input messages */

    padding: 8px 20px 20px 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 0px;
    max-width: 150px;
    min-width: 150px;
    word-wrap: break-word;
  }


  .chat-response-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 50px 0px 0px 0px;
  }

  .chat-response-circle img {
 
    max-height: 75%;
    max-width: 75%;
    border-radius: 25%;
  }

  .chat-response-container {
    display: flex;
  }