.chatbot-page {
  min-height: 100vh;
  background-color: #4066E0;
  display: flex;
  flex-direction: column;
}

.chatbot-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2; /* Allow the content container to grow and push TextInput down */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.chatbot-header {
    display: grid; /* Use grid for layout */
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    justify-content: center; /* Center-align the grid horizontally */
    align-items: center;
    color: white; /* Change to your desired text color */
    height: 10vh; /* Set header height to 100% of the viewport height */
    
}

.chatbot-gears-container {
    display: flex;
    justify-content: center;
}


.chatbot-header-gears {
    padding-top: 10px;
}

.sidebar {
    
    display: flex;
    justify-content: left;
    height: 75%;
    width: 50%;
    margin-left: 10px;
}

.chatbot-logo-container {
    display: flex;
    justify-content: right;
    margin-top: -15px;
}
.chatbot-gm-logo {
    max-height: 10vh;
}

.chatbot-input {
    bottom: 0;
    width: 100%;
}