.text-input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;/* Vertically center items */
  }

  .input-icon {
    margin-right: 10px; /* Add spacing between icons and textarea */
  }

.chatbot-text-input-field-container {
    display: flex;
    justify-content: center;
    padding: 10px 0px 100px 0px;
    resize: none;
    width: 80%;
}

.chatbot-text-input-field  {
    width: 90%;
    height: 75px;
    padding: 12px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 25px;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    box-sizing: border-box; /* Include padding and border in the width */
    overflow-y: hidden;

    font-size: 30px; /* Adjust this value as needed */
    line-height: 50px;
}